<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
<header>

    <div class="navbar">
    <a class="navbar-el" href="/repertuar">Repertuar</a>
    <a class="navbar-el" href="/premieres">Premieres</a>
    <a class="navbar-el" href="/about">About</a>
    <a class="navbar-el" href="/contact">Contact</a>
        {% if user.is_authenticated %}
            <a class="navbar-el" id="user-tickets" href="/reservations">Reservations</a>
            <div id="account" class="navbar-el">
            <a class="navbar-el">{{ user.username }}</a>
            <a class="navbar-el account-el" href="{% url 'logout' %}">Log Out</a>
            </div>
        {% else %}
            <div id="account" class="navbar-el">
            <a class="navbar-el">Account</a>
            <a class="navbar-el account-el" href="{% url 'login' %}">Log In</a>
            <a class="navbar-el account-el" href="{% url 'signup' %}">Register</a>
            </div>
        {% endif %}


    </div>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="navbar admin">
        <a class="navbar-el" href="/cinema">Cinemas</a>
        <a class="navbar-el" href="/movie">Movies</a>
        <a class="navbar-el" href="/genre">Genres</a>
        <a class="navbar-el" href="/screening">Screening</a>
    </div>
    {% endif %}

</header>

{% block content %}
{% endblock %}

</body>
</html>