<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock %}

</head>

<body>

<div class="nav-bar">
    <a class="nav-bar-left" href="/">Home</a>
    <a class="nav-bar-left" href="/">Contact</a>
    <a class="nav-bar-left" href="/">About</a>
    <a class="nav-bar-left" href="/">Premieres</a>

    {% if user.is_authenticated %}
        <a class="nav-bar-right" href="{% url 'logout' %}">Log Out</a>
        <a class="nav-bar-right">{{ user.username }}</a>
    {% else %}
        <a class="nav-bar-right" href="{% url 'login' %}">Log In</a>
        <a class="nav-bar-right" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

</div>
{% block content %}
{% endblock %}
</body>
</html>