<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock %}

</head>

<body>
<div class="navbar">

    <div class="navbar-row">
    <a class="navbar-el" href="/">Home</a>
    <a class="navbar-el" href="/">Premieres</a>
    <a class="navbar-el" href="/">About</a>
    <a class="navbar-el" href="/">Contact</a>

    {% if user.is_authenticated %}
        <a class="navbar-el-r" href="{% url 'logout' %}">Log Out</a>
        <a class="navbar-el">{{ user.username }}</a>
    {% else %}
        <a class="navbar-el-r" href="{% url 'login' %}">Log In</a>
        <a class="navbar-el" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    </div>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="navbar-row">
        <div class="navbar-el-drop">
            <a class="navbar-el" href="/cinema/list">Cinema</a>
            <a href="/cinema/add" class="drop-item">Add</a>
            <a href="/" class="drop-item">Delete</a>
        </div>
        <div class="navbar-el-drop">
            <a class="navbar-el">Hall</a>
            <a href="/hall/add" class="drop-item">Add</a>
        </div>
    </div>
    {% endif %}

</div>

{% block content %}
{% endblock %}

</body>
</html>