{% extends "__main.html" %}


{% block head %}
    <title>List Of Cinemas</title>
{% endblock %}


{% block content %}

    <li class="list">
        <h1>List of Cinemas</h1>
            <div>
            <a href="/cinema/add/" class="button">Add Cinema</a>
            </div>
        {% for cinema in cinemas %}
        <ul class="list-el">
            <li>{{ cinema.city }}</li>
            <a class="button" href="/cinema/{{ cinema.id }}">Edit</a>
        </ul>
        {% endfor %}
    </li>

{% endblock %}