{% extends "__main.html" %}


{% block head %}
    <title>Cinema: {{ cinema.city }}</title>
{% endblock %}


{% block content %}

    <div class="list">
        <div class="details-list-el">
            <h1>Cinema: {{ cinema.city }}</h1>
            <p>Street: {{ cinema.street }}</p>
            <p>Postal Code: {{ cinema.postal_code }}</p>
            <p>E-mail: {{ cinema.email }}</p>
            <p>Tel: {{ cinema.telephone }}</p>
        </div>
        <div class="details-list-el-buttons">
            <a href="{{ cinema.id }}/add_hall" class="button">Add Hall</a>
            <a href="" class="button">Update</a>
            <a href="" class="button">Delete</a>
        </div>
        <div class="details-list-el">
            <h1>Hall list:</h1>
            {% for hall in halls %}
                <div class="hall-list">
                    <div>
                        <p>Hall number {{ hall.nr }}</p>
                        <p>Columns: {{ hall.seats_columns }}</p>
                        <p>Rows: {{ hall.seats_rows }}</p>
                    </div>
                    <div >
                        <a href="/hall/{{ hall.id }}" class="button">Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}