{% extends "__main.html" %}
{% load static %}

{% block head %}
    <title>Hall nr {{ hall.nr }}</title>
{% endblock %}


{% block content %}
    <script>
    const seat_rows = {{ hall.seats_rows }}
    </script>
    <script type="text/javascript" src="{% static 'javascript/hall_details.js' %}"></script>

    <div class="list">
        <div class="details-list-el">
            <h1>Hall nr: {{ hall.nr }}</h1>
            <p>Cinema: {{ cinema.city }}</p>
            <p>Seats: {{ seats|length }}</p>
            <p>Rows: {{ hall.seats_rows }}</p>
            <p>Columns: {{ hall.seats_columns }}</p>
        </div>
        <div class="details-list-el-buttons">
            <a href="/cinema/{{ cinema.id }}" class="button">Back</a>
            <a href="" class="button">Update</a>
            <a href="" class="button">Delete</a>
        </div>
    </div>
    <div class="hall-view">
        <p id="screen">SCREEN</p>
        <div class="seats_list">
            {% for seat in seats %}
                <a class="seat" href="/seat/{{ seat.id }}"> {{ seat.nr }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}