{% extends "__main.html" %}


{% block head %}
    <title>List Of Movies</title>
{% endblock %}


{% block content %}

    <li class="list">
        <h1>List of Movies</h1>
            <div>
            <a href="/movie/add/" class="button">Add Movie</a>
            </div>
        {% for movie in movies %}
        <ul class="list-el">
            <li>{{ movie.title }}</li>
            <a class="button" href="/movie/{{ movie.id }}">Edit</a>
        </ul>
        {% endfor %}
    </li>

{% endblock %}