{% extends "__main.html" %}


{% block head %}
    <title>List Of Movies</title>
{% endblock %}


{% block content %}

    <li class="list">
        <h1>Repertuar</h1>
        {% for repertuar_day in repertuar_days%}
            <div class="day-list">
                <p>{{ repertuar_day.0 }}</p>
                {% for screening in repertuar_day.1 %}
                <ul class="list-el" >
                    <li>{{ screening.movie_id }} - {{ screening }}</li>
                    <a class="button" href="/screening/{{ screening.id }}">Edit</a>
                </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </li>

{% endblock %}