body {
  background-color: #570808;
  font-family: sans-serif;
  margin: 0;
  color: white;
}

.navbar {
  background-color: #494949;
  display: flex;
  flex-direction: column;
}

.navbar-row{
  display: flex;
  flex-direction: row;
  border-bottom: solid black 0.1em;
}

.navbar-el-r {
  margin-left: auto;
}

.navbar a {
  color: white;
  text-align: center;
  text-decoration: None;
  padding: 1em 2em;
  font-size: 1.2em;
  border: solid 1px #333333;
}

.navbar a:hover {
  background-color: #969696;
  color: black;
  border-top: solid 1px white;
}

.navbar-el-drop {
  display: flex;
  flex-direction: column;
}

.drop-item {
  display: none;
}

.navbar-el-drop:hover .drop-item{
  display: block;
}
form{
  background: #494949;
  border: solid #2d2d2d;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 10em auto;
  width: 30em;
}

form input{
  border: 0.3em solid #3c3c3c;
  padding: 0.5em;
}

form label{
  font-weight: bold;
}

form button{
  background: #373737;
  color: #eee;
  padding: 0.5em;
  width: 31.25%;
  margin: auto;
}

form p{
  display: flex;
  flex-direction: column;
}

form ul{
  color: #bfbfbf;
  font-style: italic;
}

.form-response{
  background: #494949;
  border: solid #2d2d2d;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 10em auto;
  width: 30em;
}

.helptext{
  color: #bfbfbf;
  font-style: italic;
}

.admin{
  border-top: solid;
}

.list{
  display: flex;
  flex-direction: column;
}

.list-el {
  display: flex;
  flex-direction: row;
}

ul.list-el li {
  width: 15em;
  list-style-type: none;
}
ul.list-el a {
  width: 15em;
  font-style: italic;
}