body {
  background-color: #570808;
  font-family: sans-serif;
  margin: 0;
}

.nav-bar {
  overflow: hidden;
  background-color: #494949;
}

.nav-bar a {
  color: white;
  text-align: center;
  text-decoration: None;
  padding: 1em 2em;
  font-size: 1.2em;
  border: solid 1px #333333;
}

.nav-bar-right{
  float: right;
}

.nav-bar-left{
  float: left;
}

.nav-bar a:hover {
  background-color: #969696;
  color: black;
  border-top: solid 1px white;
}

.lorem-ipsum{
  margin: 8px;
}

p {
  color: white;
}

.div-form-django{
  
  margin: 10em auto;
  width: 30em;
}
form.django{
  background: #494949;
  border: solid #2d2d2d;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

form input{
  background: white;
  border: 0.3em solid #3c3c3c;
  padding: 0.5em;
}

form.django label{
  font-weight: bold;
}

form.django button{
  background: #373737;
  color: #eee;
  padding: 0.5em;
  width: 31.25%;
  margin: auto;
}

form.django p{
  display: flex;
  flex-direction: column;
}

form.django ul{
  color: #bfbfbf;
  font-style: italic;
}

.helptext{
  
  color: #bfbfbf;
  font-style: italic;
}